.main {
    max-width: 400px;
    margin: 2% auto;
    #practice {
        margin-top: 1%;
        display: inline-block;
    }
}
.push-pop-container {
    display: block; 
    margin: 2% auto; 
    width: 50%; 
    overflow: auto;
}
#african, #european,
#joinCountries, #sorting,
#reversing, #calculateIndex,
#calculateLastIndex, #substringResult,
#substrResult, #firstResultPres,
#secondResultFixed {
    margin-left: 50px;
}
#resultOne,
#resultTwo, 
#resultThree,
#resultFour, 
#resultFive,
#resultSix {
    margin-left: 20px;
}
.roots {
    margin: 25px 0px;
}
.solutions {
    margin-top: 25px;
}
.calc-result {
    margin-left: 15px;
    display: inline-block;
}
