.container {
  max-width: 500px; }
  .container__table {
    border-top: 0;
    border-right: 1px;
    border-bottom: 0;
    border-left: 1px;
    border-style: solid;
    border-color: #ccc;
    margin: 20px auto;
    max-width: 100px; }
    .container__table tr > td {
      padding: 12px; }
  .container__inputs {
    flex-flow: row wrap; }
    .container__inputs input[type="text"] {
      margin-top: 10px; }
  .container #sarusRule {
    margin-top: 15px; }
