@import '../variables/variables.scss';

@import '../mixins/mixins.scss';

.container {
    max-width: 500px;

    &__table {
        @include borders(0, 1px, 0, 1px, solid, #ccc);
        margin: 20px auto;
        max-width: 100px;

        tr>td {
            padding: 12px;
        }
    }

    &__inputs {
        flex-flow: row wrap;

        input[type="text"] {
            margin-top: 10px;
        }
    }

    #sarusRule {
        margin-top: 15px;
    }
}